* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
}

.container {
  width: 500px;
  height: 500px;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: solid 1px rgb(105, 104, 104);
  background-color: rgb(250, 246, 246);
}

.filled {
  background-color: rgb(65, 64, 64);
}

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clear {
  background-color: rgb(136, 62, 62);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.clear:hover {
  background-color: rgb(85, 42, 42);
  cursor: pointer;
}

.controls {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.input-area {
  display: flex;
}

.square-button {
  background-color: rgb(61, 131, 88);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.square-button:hover {
  background-color: rgb(29, 73, 46);
  cursor: pointer;
}

#squares-input {
  height: 100%;
}



@media screen and (max-width: 700px) {
  .container {
    width: 250px;
    height: 250px;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
  }

  .controls {
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}